
head
  title Database Demo
  link(rel='stylesheet' href='css/index.css')

body
  header
    h1
      u User Creator
  main
    form(action='/createUser' method='POST')
      div First name 
        input(type='text' name='firstName')
      br
      div Last name 
        input(type='text' name='lastName')
      br
      div Age 
        input(type='number' name='age')
      br
      button(type='submit') Submit
    ul
      each val in users
        form.block(action='/deleteUser' method='POST')
          div Age : 
            input(name='firstName' value=(val.firstName) readonly)
          br
          div Last Name : 
            input(name='lastName' value=(val.lastName) readonly)
          br
          div Age : 
            input(name='age' value=(val.age) readonly)
          br
          button(type='submit') Delete
  footer
    script(src='js/index.js')
